body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f4f4f4;
}

/* Заголовок */
header {
    background-color: #333;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 15px;
}

/* Навигация */
nav {
    display: inline-block;
    width: 80%;
    background-color: #555;
    padding: 10px;
}

/* Только изображение внутри nav */
nav img {
    width: 10%;
}

/* Главная секция */
.main
